@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: hsl(212, 45%, 89%);
}


.container{
    width: 230px;
    height: 385px;
    background-color: white;
    padding: .5rem 1rem;
    margin-top:auto;
    margin-bottom: auto;
    border-radius:16px;
}


.container img{
    width: 100%;
    border-radius:6px;
    margin-top:5px;
}


.container h2{
    
    font-size: 20px;
    margin-top:12px;
    margin-bottom:12px;
    margin-left: 5px;
    margin-right: 1px;
    color:hsl(218, 44%, 22%);

}

.container p{
    color:hsl(216, 15%, 48%);
    font-size:15px;
}

.l1{
    margin-left:7px;
    margin-right:1px;
}



.l3{
    margin-left:70px;
    margin-right:1px;
}


.attribution{
    font-size: 14px;
}

