@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'outfit',sans-serif;
}

:root{
    --white:hsl(0,0%,100%);
    --greyish-blue:hsl(212, 45%, 89%);
    --grey:hsl(216, 15%, 48%);
    --blueblack:hsl(218, 44%, 22%);
    --blue:hsl(228,43%,44%);
}

body{
    background-color: var(--greyish-blue);
    overflow: hidden;
}

.container{
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.wrapper{
    background-color:var(--white);
    height:490px;
    max-width: 90%;
    width:315px;
    border-radius:15px;
    display:flex;
    flex-direction:column;
}

.image{
    display:flex;
    justify-content:center;
}

.image img{
    height:auto;
    width:80%;
    max-width:280px;
    border-radius:15px;
    margin-top:10px;
    margin-bottom:9px;
}

.title{
    margin:0 auto;
    margin-bottom: 19px;
    margin-top: 9px;
}

.title p{
    font-size:1.5rem;
    text-align:center;
    color:var(--blueblack);
    font-weight:700;
}

.subtitle{
    margin:0 auto;
    width:80%;
}

.subtitle p{
    font-size:0.9375rem;
    font-weight:400;
    color:var(--grey);
    text-align:center;
}

.attribution{
    font-size:0.6875rem;
    text-align:center;
}

.attribution a{
    color:var(--blue);
    text-decoration: none;
}

@media (max-width: 600px) {
    .wrapper {
        width: 90%; 
        height: auto;
        padding: 10px;
    }

    .title p {
        font-size: 1.25rem; 
    }
    .subtitle p {
        font-size: 0.875rem; 

    .image img {
        width: 100%; 
        max-width: none; 
        height: auto; 
    }
}

}